# Binance
BINANCE_API_KEY=
BINANCE_API_SECRET=

# Gate (reserved)
GATE_API_KEY=
GATE_API_SECRET=
GATE_PASSWORD=

# OKX (reserved)
OKX_API_KEY=
OKX_API_SECRET=
OKX_PASSWORD=

# MEXC (reserved)
MEXC_API_KEY=
MEXC_API_SECRET=
MEXC_PASSWORD=
